
.vs/*
bin/*
Ext/*
lib/*
x64/*
CMakeFiles/*
*.vcxproj
*.sln
*.filters
*.user
*.pdb
*.obj
*.tlog
*.log
*.stamp
*.depend
cmake_install.cmake
CMakeCache.txt
include/trUtil/TypeConfig.h
build/*
TR_Ext_0.2_msvc14.15_x64.zip
Data.zip
Data/GUI/*
Data/Particles/*
Data/SkeletalMeshes/*
Data/Sounds/*
Data/StaticMeshes/*
Data/Terrains/*
Data/Textures/*