
.vs/*
bin/*
Ext/*
lib/*
x64/*
CMakeFiles/*
*.vcxproj
*.sln
*.filters
*.user
*.pdb
*.obj
*.tlog
*.log
*.stamp
*.depend
cmake_install.cmake
CMakeCache.txt
include/trUtil/TypeConfig.h
TR_Ext_0.1_msvc14.1_x64.zip
